#perfil{
	position: absolute;
	top: 150px;
    left: 300px;
}

#editaPerfil{
	position: absolute;
	top: 150px;
    left: 300px;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
}

#particles-js, #start {
    height: 100vh;
    width: 100vw;
    display: table;
    table-layout: fixed;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Logo */

.logo {
	opacity: 0;
	position: relative;
	margin-left: -3.5rem;
	margin-top: -8rem;
	margin-bottom: .75rem;
	font-size: 8px;
}

body.ready .logo {
	opacity: 1;
}

body:not(.iOS) #lines * {
  mix-blend-mode: lighten;
}

#fills * {
  opacity: 0;
  mix-blend-mode: lighten;
}

#line-i {
  transform-origin: 30em 8em;
}

/* Fireworks */

.fireworks {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
}


